/* animations.css */
.animate-text {
  overflow: hidden;
}

.line-wrapper {
  overflow: hidden;
  padding: 0.1em 0;
}

.split-word {
  display: inline-block;
  will-change: transform;
}

.split-word:not(:last-child) {
  margin-right: 0.25em;
}

/* Circle Animation */
.circular-text {
  position: fixed;
  width: 200px;
  height: 200px;
  z-index: 10;
  animation: moveX 7s linear infinite alternate, moveY 5s linear infinite alternate;
}

.text-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 11s linear infinite;
}

.text-circle span {
  position: absolute;
  left: 50%;
  font-family: 'BaseNeueTrial-SuperExpBlack', sans-serif;
  font-size: 1em;
  transform-origin: 0 100px;
}

.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  z-index: 2;
  animation: rotateReverse 11s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotateReverse {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(-360deg); }
}

@keyframes moveX {
  0% { left: 0; }
  100% { left: calc(100% - 200px); }
}

@keyframes moveY {
  0% { top: 0; }
  100% { top: calc(100vh - 200px); }
}

/* Mobile: Oculta el círculo */
@media screen and (max-width: 768px) {
  .circular-text { display: none; }
}